
.bodytext {
    display: flex;
    justify-content: center;
}

body {
    color: white;
    font-family: Quicksand;
	background: linear-gradient(-45deg, #d66340, #883152, #3da1c5, #21b391);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@media only screen and (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
        text-align: center;
    }
    h3 {
        font-size: 1.2rem;
        text-align: center;
    }
  }